$colorBlue: #314584;
$colorRed: #ff3946;
body{
   margin: -15px 0px;
}
.header {
   display: flex;
   justify-content: space-between;
   max-width: 1420px;
   margin: 0 auto;
   .header__logo {
      margin-top: 65px;
   }
   .header__nav {
      ul {
         margin: 0;
         margin-top: 70px;
         li {
            display: inline-block;
            margin-right: 45px;
            color: $colorBlue;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
         }
      }
   }
   .header__other {
      margin-top: 45px;
      button {
         &:first-child {
            color: $colorBlue;
            font-size: 18px;
            font-weight: bold;
            background-color: inherit;
            border: none;
            cursor: pointer;
            margin-right: 40px;
            span {
               font-size: 12px;
            }
         }
         &:last-child {
            width: 195px;
            height: 55px;
            color: $colorRed;
            font-size: 18px;
            font-weight: bold;
            border: none;
            background-color: inherit;
            box-shadow: 5px 8px 8px 0px rgba(34, 60, 80, 0.2);
            cursor: pointer;
         }
      }
   }
}
.container {
   width: 1170px;
   margin: 0 auto;
}

.more {
   display: flex;
   .more__left {
      width: 50%;
      h3 {
         color: $colorBlue;
         font-size: 73px;
         margin-top: 280px;
         margin-bottom: 50px;
      }
      p {
         margin: 0;
         font-size: 18px;
         margin-bottom: 45px;
         color: rgb(114, 110, 110);
         line-height: 1.5;
      }
      button {
         border-radius: 30px;
         font-weight: bold;
         font-size: 17px;
         border: none;
         height: 50px;
         width: 200px;
         background-color: $colorRed;
         color: #fff;
         cursor: pointer;
         &:last-child {
            height: 50px;
            width: 200px;
            background-color: inherit;
            color: $colorBlue;
         }
      }
   }
   .more__right {
      width: 50%;
      margin-top: 105px;
      
      left: 150px;
      img {
         position: relative;
      }
   }
}

.work {
   padding-top: 350px;
   .work__title {
      h3 {
         color: $colorBlue;
         font-size: 48px;
         margin-bottom: 85px;
      }
   }
   .work__blocks {
      img {
         width: 30.2%;
         margin-bottom: 33px;
         margin-right: 33px;
      }
   }
   .work__seeMore {
      p {
         text-align: center;
         color: $colorRed;
         font-size: 18px;
         margin-top: 50px;
         font-weight: bold;
         cursor: pointer;
      }
   }
}

.contact {
   .contact__title {
      font-size: 18px;
      color: $colorRed;
      font-weight: bold;
      margin-top: 275px;
   }
   .contact__subTitle {
      font-size: 48px;
      color: $colorBlue;
      p {
         margin: 0;
         margin-bottom: 38px;
         font-weight: bold;
      }
   }
   .contact__form {
      input {
         outline: none;
         padding-left: 20px;
         &:first-child {
            margin-right: 30px;
            padding: 0;
            padding-left: 20px;
         }
         &::placeholder {
            color: $colorBlue;
            font-weight: bold;
         }
         width: 46%;
         background-color: #f4fafe;
         height: 50px;
         border: none;
         margin-bottom: 35px;
      }
      textarea {
         width: 97%;
         background-color: #f4fafe;
         height: 120px;
         border: none;
         padding-left: 20px;
         padding-top: 10px;
         outline: none;
         resize: none;
         &::placeholder {
            color: $colorBlue;
            font-weight: bold;
            font-weight: bold;
         }
      }
      button {
         display: block;
         margin: 0 auto;
         margin-top: 70px;
         border-radius: 30px;
         font-weight: bold;
         font-size: 17px;
         border: none;
         height: 50px;
         width: 200px;
         background-color: #ff3946;
         color: #fff;
         cursor: pointer;
      }
   }
}

.footer {
   height: 450px;
   background-color: $colorBlue;
   text-align: center;
   margin-top: 60px;
   .footer__title {
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      padding-top: 63px;
   }
   .footer__subTitle {
      font-size: 48px;
      color: $colorRed;
      font-weight: bold;
      p{
         margin: 0;
      }
   }
   .footer__nav {
      display: inline-block;
      ul{
         margin-top: 45px;
         li{
            display: inline;
            margin-right: 45px;
            color: #fff;
            font-size: 18px;
            cursor: pointer;
         }
      }
   }
   .footer__lastTitle {
      color: #fff;
      margin-top: 50px;
   }
   .footer__net {
      img{
         margin-right: 70px;
         
      }
   }
}
.slick-prev:before {
   content: '←';
   background-color: gray;
   
}
.slick-next:before {
   content: '→';
   background-color: gray;
   
}